{% extends ['layouts/special.html.twig', 'base.html.twig'] %}
{% include ['components/fancy.html.twig', 'components/simple.html.twig'] ignore missing %}

{% block content %}
    <div id="list-test">Content</div>
{% endblock %}
